%footer.furima-footer
  %nav
    %ul
      %li
        %a{href: "/"} プライバシーポリシー
      %li
        %a{href: "/"} フリマ利用規約
      %li
        %a{href: "/"} 特定商品特定商品取引に関する表記
  = link_to "/", class: "footer-logo" do
    = image_tag "logo-white.png", alt: "フリマ"
  %p
    %small © FURIMA