@mixin after() {
  &::after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3ccace;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

@mixin aBtns() {
  .aBtn {
    width: 180px;
    margin-right: 10px;
  }
}

@mixin imgs() {
  img {
    width: 100%;
    vertical-align: bottom;
    border: 0;
  }
}

@mixin gBtns() {
  .gBtn {
    width: 180px;
  }
}

* {
  box-sizing: border-box;
}
/*ヘッダー 始まり*/
.header {
  padding: 0 60px;

  .headermain {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;

    &__top {
      position: relative;
      display: flex;
      align-items: center;

      h1.icon {
        font-size: 100%;
        font-weight: normal;
        margin-right: 30px;

        a {
          width: 140px;
          display: block;
        }

        .image_logo {
          width: 140px;
          height: 40.55px;
        }
      }
    }
  }

  .searchbox {
    margin-left: auto;
    width: 100%;

    form {
      width: 100%;
      display: flex;
      margin-bottom: 0px;

      button {
        width: 36px;
        border: 0;
        cursor: pointer;
        background-color: #3ccace;
        padding: 0px;

        .image_icon {
          width: 36px;
          border: 0;
          cursor: pointer;
          background-color: #3ccace;
          padding: 8px;
        }
      }
    }

    &__input {
      width: calc(100% - 26px);
      height: 36px;
      padding: 0 0 0 5px;
    }
  }

  .headermain__foot {
    font-size: 14px;
    display: flex;
    margin-bottom: 10px;

    &__left {
      position: relative;
      display: flex;

      &__item {
        display: flex;
        line-height: 38px;
        padding: 0 0 0 16px;
      }

      a {
        color: #333;
        text-decoration: none;
        line-height: 32px;
        background-position: center right;
        background-repeat: no-repeat;
        background-size: 18px;
        padding-right: 30px;
      }
    }

    &__right {
      margin-left: auto;
      display: flex;

      &__item {
        color: #333;
        line-height: 38px;
        padding: 0 0 0 16px;
      }

      a {
        display: flex;
        align-items: center;
        color: #333;
        text-decoration: none;
        line-height: 32px;
      }
    }
  }
}
/*ヘッダー 終わり*/

/*メイン 始まり*/
.main {
  background: #f8f8f8;

  /*%section　①mainVisual*/
  .mainVisual {
    width: 100%;
    height: 560px;
    background-image: url(pict/bg-mainVisual-pict_pc.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;

    &__content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;

      &__subtitle {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }

      &__text {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }

      &__btn {
        display: flex;
        margin: 24px 0 0 0;
        @include aBtns();
        @include imgs();
        @include gBtns();
      }
    }
  }

  /* %section ②mainExplanation */

  .mainExplanation {
    padding: 60px 20px;

    &__subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      @include after();
    }

    &__lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;

      .list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__pict {
          position: relative;
          margin-bottom: 20px;

          .number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3ccace;
            color: #fff;
          }

          @include imgs();
        }

        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;

          & span {
            color: #3ccace;
          }
        }

        &__description {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
        &.list--last {
          margin: 16px 0 0;
        }
      }
    }
  }

  /*%section　③mainMiddle*/

  .mainMiddle {
    background-image: url(pict/bg-topMiddleDl-pict.jpg);
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;

    &__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;

      &__subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }

      &__text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }

      &__btn {
        display: flex;
        @include aBtns();
        @include imgs();
        @include gBtns();
      }
    }
  }

  /*%section　④mainFeatures*/

  .mainFeatures {
    padding: 60px 100px;
    background-color: #fff;

    &__head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      @include after();
    }

    .items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;

      .item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;

        &__img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }

        &__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }

        &__detail {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }

        @include imgs();
      }
    }
  }

  /*%section　⑤と⑥mainPickup*/

  .mainPickup {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;

    &__head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }

    .productHead {
      text-align: center;

      a {
        font-size: 24px;
        text-decoration: none;
        color: #3ccace;
        font-weight: bold;

        h3 {
          font-weight: bold;
        }
      }
    }

    .productLists {
      width: 780px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;

      .productList {
        width: 220px;
        display: inline-block;

        a {
          background-color: #fff;
          display: inline-block;
          text-decoration: none;
        }
        .productList__img {
          width: 220px;
          height: 150px;
          position: relative;
          overflow: hidden;
          margin: 0;
          z-index: auto;

          & img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: auto;
            height: 150px;
            object-fit: cover;
          }
        }

        .productList__body {
          background-color: white;
          color: #333;
          padding: 16px;

          & .name {
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          }
          .details {
            font-size: 16px;

            ul {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            p {
              font-size: 10px;
              text-align: left;
            }
          }
        }
      }
    }
  }

  /*%section　⑦mainBanner*/

  .mainBanner {
    background-image: url(pict/bg-appBanner-pict.jpg);
    padding: 100px 40px;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-top: 110px;

    .inner {
      color: #fff;
      text-align: center;

      &__title {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }

      &__text {
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
      }

      &__icon {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 20px auto 0;
        margin-right: 10px;
        @include aBtns();
        @include imgs();
        @include gBtns();
      }
    }
  }
}
/*メイン 終わり*/

/*フッダー 始まり*/

.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;

  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;

    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;

      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }

      .ls {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        margin: 0 2% 0 0;
      }

      a {
        color: #fff;
        text-decoration: none;
        font-size: 12px;
        line-height: 32px;
      }
    }
  }

  .footer__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;

    p {
      font-size: 14px;
    }
    @include imgs();
  }

  .fotter__Btn {
    width: 120px;
    background: #3ccace;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;

    &__text {
      color: #fff;
      display: block;
      font-size: 18px;
      text-decoration: none;
      margin-bottom: 5px;
    }

    .fotter__Btn__icon {
      width: 60%;
    }
  }
}

/*フッダー 終わり*/
