* {
  box-sizing: border-box;
}

.header {
  padding: 0 60px;
}

.headerInner {
  max-width: 1040px;
  width: 100%;
  min-height: 82px;
  margin: 0 auto;
  padding: 15px 0 0;
}

.mainHeader {
  position: relative;
  display: flex;
  align-items: center;
}

h1.icon {
  font-size: 100%;
  font-weight: normal;
}

.icon a {
  width: 140px;
  display: block;
}

.icon {
  margin-right: 30px;
  border-radius: 4px;
}

button {
  width: 36px;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 0px;
}

.searchBox {
  margin-left: auto;
  width: 100%;

  & form {
    width: 100%;
    display: flex;
    margin-bottom: 0px;
  }

  &__input {
    width: calc(100% - 26px);
    height: 36px;
    padding: 0 0 0 5px;
  }
}

.image_logo {
  width: 140px;
  height: 40.55px;
}

.image_icon {
  width: 36px;
  border: 0;
  cursor: pointer;
  background-color: #3ccace;
  padding: 8px;
}

.nav {
  font-size: 14px;
  display: flex;
  margin-bottom: 10px;
}

.listsLeft {
  position: relative;
  display: flex;

  &__item {
    display: flex;
    line-height: 38px;
    padding: 0 0 0 16px;
  }

  & a {
    color: #333;
    text-decoration: none;
    line-height: 32px;
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 18px;
    padding-right: 30px;
  }
}

.listsRight {
  margin-left: auto;
  display: flex;

  &__item {
    color: #333;
    line-height: 38px;
    padding: 0 0 0 16px;
  }

  & a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    line-height: 32px;
  }
}

.main {
  background: #f8f8f8;
}

.mainVisual {
  width: 100%;
  height: 560px;
  background-image: url(pict/bg-mainVisual-pict_pc.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
}

h2 {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

.content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 0 0 0;

  &__subtitle {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-size: 60px;
    line-height: 1.2;
    color: #fff;
  }

  &__text {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    color: #fff;
    line-height: 1.77778;
    margin: 16px 0 0 0;
  }

  &__btn {
    display: flex;
    margin: 24px 0 0 0;
  }
}

.aBtn {
  width: 180px;
  margin-right: 10px;
}

img {
  width: 100%;
  vertical-align: bottom;
  border: 0;
}

.gBtn {
  width: 180px;
}

.topIntroduction {
  padding: 60px 20px;
}

.subtitle {
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;

  &:after {
    width: 70px;
    height: 4px;
    background-color: #3ccace;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.lists {
  text-align: center;
  display: flex;
  max-width: 1020px;
  width: 100%;
  margin: 0 auto;
}

.list {
  width: 30%;
  margin: 16px 5% 0 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__pict {
    position: relative;
    margin-bottom: 20px;
  }

  &__text {
    font-weight: bold;
    font-size: 24px;
    line-height: 50px;
    margin: 0 0 0 2px;
  }

  &__description {
    font-size: 18px;
    line-height: 1.5;
    margin: 16px 0 0;
  }
}

.number {
  display: inline-block;
  position: absolute;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  margin: 0 5px 0 0;
  padding: 10px 20px;
  background-color: #3ccace;
  color: #fff;
}

.list__text span {
  color: #3ccace;
}

.topMiddle {
  background-image: url(pict/bg-topMiddleDl-pict.jpg);
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;

  &__inner {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    text-align: left;
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;
  }
}

.topMiddle__inner__subtitle {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.4;
}

.topMiddle__inner__text {
  font-size: 18px;
  margin: 20px 0 30px;
  line-height: 1.5;
}

.topMiddle__btn {
  display: flex;
}

.topKeyFeatures {
  padding: 60px 100px;
  background-color: #fff;
}

.head {
  font-size: 27px;
  text-align: center;
  margin: 0 0 40px;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;

  &::after {
    width: 70px;
    height: 4px;
    background-color: #3ccace;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.topKeyFeatures .items {
  max-width: calc(1040px + 20px);
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.topKeyFeatures .items .item {
  display: flex;
  flex-direction: column;
  width: calc(1 / 3 * 100%);
  text-align: center;
  padding: 0 20px;
}

.topKeyFeatures .items .item__img {
  width: 70%;
  margin: 0 auto;
  line-height: 120px;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.item__subtitle {
  margin: 38px 0 10px;
  font-size: 19px;
  font-weight: bold;
}

.item__detail {
  margin: 0 0 40px;
  font-size: 17px;
  font-weight: 200;
  text-align: left;
}
