* {
  box-sizing: border-box;
}


.top-bar {
  height: 128px;
  width: 100%;
  background-color: red;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8f8;

  .furima-logo {
    height: 49px;
    width: 185px;
    
    .img-logo {
      height: 49px;
      width: 185px;
    }
  }
}

.furima-item {
  height: 2210px;
  width: 100%;
  background-color: yellow;
}

.bottom-bar {
  height: 220px;
  width: 100%;
  background-color: green;

}