* {
  box-sizing: border-box;
}




.top-bar {
  height: 128px;
  width: 100%;
  background-color: red;

}

.furima-item {
  height: 2210px;
  width: 100%;
  background-color: yellow;
}

.bottom-bar {
  height: 220px;
  width: 100%;
  background-color: green;

}