%html
  .top-bar
    .furima-logo
      = image_tag 'logo.png', class: 'img-logo'

  .furima-item
    .furima-item__input-form
      .furima-item__input-form__image
        %label.furima-item__input-form__image-title
          出品画像
          %span.furima-item__input-form__image-title__must
            必須
        .furima-item__input-form__image-fhoto
          最大10枚までアップロードできます
          .furima-item__input-form__image-fhoto__box
            ドラッグアンドドロップ
            <br>
            またはクリックしてファイルをダウンロード
        
      %hr.image-under-line

      .furima-item__input-form__description
        .furima-item__input-form__description__name
          %label.furima-item__input-form__description__name__title
            商品名
            %span.furima-item__input-form__description__name__title-must
              必須
          .furima-item__input-form__description__name__title-input
            40文字まで
        .furima-item__input-form__description__text
          %label.furima-item__input-form__description__text__name
            商品の説明
            %span.furima-item__input-form__description__text__name-must
              必須
          .furima-item__input-form__description__text__main
            商品の説明（必須 1,000文字以内）
            <br>
            （色、素材、重さ、定価、注意点など）
            <br><br>
            例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。
            
          .furima-item__input-form__description__text__count
            0/1000
      %hr.description-under-line

      .furima-item__input-form__detail
        商品の詳細
        .furima-item__input-form__detail__category
          %label.furima-item__input-form__detail__category__title
            カテゴリー
            %span.furima-item__input-form__detail__category__title-must
              必須
          .furima-item__input-form__detail__category__choose
            選択してください

        .furima-item__input-form__detail__brand
          %label.furima-item__input-form__detail__brand__title
            ブランド
            %span.furima-item__input-form__detail__brand__title-any
              任意
          .furima-item__input-form__detail__brand__text
            例） シャネル

        .furima-item__input-form__detail__status
          %label.furima-item__input-form__detail__status__title
            商品の状態
            %span.furima-item__input-form__detail__status__title-must
              必須
          .furima-item__input-form__detail__status__choose
            選択してください
      %hr.detail-under-line

      .furima-item__input-form__delivery
        配送について
        .furima-item__input-form__delivery__cost
          %label.furima-item__input-form__delivery__cost__title
            配送料の負担
            %span.furima-item__input-form__delivery__cost__title-must
              必須
          .furima-item__input-form__delivery__cost__choose
            選択してください

        .furima-item__input-form__delivery__prefecture
          %label.furima-item__input-form__delivery__prefecture__title
            発送元の地域
            %span.furima-item__input-form__delivery__prefecture__title-must
              必須
          .furima-item__input-form__delivery__prefecture__choose
            選択してください

        .furima-item__input-form__delivery__days
          %label.furima-item__input-form__delivery__days__title
            発送までの日数
            %span.furima-item__input-form__delivery__days__title-must
              必須
          .furima-item__input-form__delivery__days__choose
            選択してください
      %hr.delivery-under-line

      .furima-item__input-form__price
        %p.furima-item__input-form__price-example
          価格 (¥300~9,999,999)
        .furima-item__input-form__price__title
          .furima-item__input-form__price__title-a
            .furima-item__input-form__price__title-a-left
              .furima-item__input-form__price__title-a-left-box
                .furima-item__input-form__price__title-a-left-box__price
                  販売価格
                  .furima-item__input-form__price__title-a-left-box__price-must
                    必須

            .furima-item__input-form__price__title-a-right
              %span.furima-item__input-form__price__title-a-right__mark
                ¥
                .furima-item__input-form__price__title-a-right__text
                  0

          .furima-item__input-form__price__fee
            %label.furima-item__input-form__price__fee__title
              販売手数料 (10%)
            .furima-item__input-form__price__fee__title-text
              ー
          %hr.price-under-line
          
          .furima-item__input-form__price__profit
            %label.furima-item__input-form__price__profit__title
              販売利益
            .furima-item__input-form__price__profit__title-text
              ー
          
      .furima-item__input-form__btn
        .furima-item__input-form__btn__exhibition
          出品する
        .furima-item__input-form__btn__draft
          下書きに保存
        .furima-item__input-form__btn__return
          もどる

      .furima-item__input-form__note
        %p.note-text
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律に<br>
          より処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

  .bottom-bar
    %ul.bottom-bar__privacy-policy
      %li.privacy-policy
        プライバシーポリシー
      %li.terms-of-service
        FURIMA利用規約
      %li.specific-transaction
        特定商取引に関する表記
    .bottom-bar__logo
      = image_tag 'logo-white.png', class: 'bottom-logo'
    .bottom-bar__copyright
      © Furima, Inc.

