%html
  .top-bar
    .furima-logo
      = image_tag 'logo.png', class: 'img-logo'

  .furima-item
    .furima-item__input-form
      .furima-item__input-form__image
        %label.furima-item__input-form__image-title
          出品画像
          %span.furima-item__input-form__image-title__must
            必須
        .furima-item__input-form__image-fhoto
          最大10枚までアップロードできます
          .furima-item__input-form__image-fhoto__box
            ドラッグアンドドロップ
            <br>
            またはクリックしてファイルをダウンロード
        
      %hr.image-under-line

  .bottom-bar


