%html
  .top-bar
    .furima-logo
      = image_tag 'logo.png', class: 'img-logo'

  .furima-item
    .furima-item__input-form
      .furima-item__input-form__image
        %label.furima-item__input-form__image-title
          出品画像
          %span.furima-item__input-form__image-title__must
            必須
        .furima-item__input-form__image-fhoto
          最大10枚までアップロードできます
          .furima-item__input-form__image-fhoto__box
            ドラッグアンドドロップ
            <br>
            またはクリックしてファイルをダウンロード
        
      %hr.image-under-line

      .furima-item__input-form__description
        .furima-item__input-form__description__name
          %label.furima-item__input-form__description__name__title
            商品名
            %span.furima-item__input-form__description__name__title-must
              必須
          .furima-item__input-form__description__name__title-input
            40文字まで
        .furima-item__input-form__description__text
          %label.furima-item__input-form__description__text__name
            商品の説明
            %span.furima-item__input-form__description__text__name-must
              必須
          .furima-item__input-form__description__text__main
            商品の説明（必須 1,000文字以内）
            <br>
            （色、素材、重さ、定価、注意点など）
            <br><br>
            例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。
            
          .furima-item__input-form__description__text__count
            0/1000
      %hr.description-under-line


  .bottom-bar


