
body {
  background-color: #f5f5f5;
}

.furima-header {
  height: 128px;
  text-align: center;
  h1{
    a{
      display: inline-block;
      width: 185px;
      height: 49px;
      margin: 40px 0 0;
    }
    img {
      width: 185px;
      height: 49px;
    }
  }
}
.furima-contents {
  display: block;
  .furima-main{
    margin: 0 auto;
    width: 700px;
    background-color: #ffffff;
    &__title {
      text-align: center;
      font-size: 22px;
      padding: 32px;
      font-weight: bold;
    }
    .new_user {
      border-top: 1px solid #f5f5f5;
    }
    &__form {
      margin: auto;
      max-width: 270px;
      label {
        font-weight: 600;
        display: inline-block;
        margin: 12px 0 0;
      }
      .require {
        background-color: red;
        color: #ffffff;
        padding: 2px 4px;
        font-size: 12px;
        margin: 0 0 0 8px;
      }
      .form-input {
        width: 100%;
        margin: 8px 0 0;
        height: 48px;
        padding-left: 5px;
        &__half {
          width: 50%;
          margin-right: 8px;
          height: 48px;
          padding-left: 5px;
        }
      }
      p {
        color: #888888;
        margin: 8px 0 0;
        text-align: start;
      }
      .text-single {
        font-weight: bold;
      }
      &__name {
        display: flex;
      }
      #user_birth_day_1i {
        height: 48px;
        padding: 0 5px;
        cursor: pointer;
      }
      #user_birth_day_2i {
        height: 48px;
        padding: 0 10px;
        cursor: pointer;
      }
      #user_birth_day_3i {
        height: 48px;
        padding: 0 10px;
        cursor: pointer;
      }
    }
    &__relation {
      margin: 10px 0 0;
      text-align: center;
      #reveal_password {
        width: 17px;
        height: 17px;
        cursor: pointer;
      }
      label {
        display: inline-block;
        margin-bottom: 10px;
        height: 17px;
      }
    }
    &__actions {
      margin: 0 auto;
      max-width: 270px;
      .form-btn {
        background-color: #ea352e;
        color: #ffffff;
        border: 1px solid #ea352e;
        width: 100%;
        cursor: pointer;
        line-height: 48px;
        border-radius: 4px;
        margin: 24px 0 0;
      }
      .text-link {
        margin: 40px 0 0;
        text-align: right;
        a {
          color: #0099e8;
          text-decoration: none;
        }
      }
    }
  }
  .login-panel {
    max-width: none;
    width: 456px;
    margin: auto;
    background-color: #ffffff;
    &__no {
      text-align: center;
      padding: 40px 64px;
      p {
        font-size: 14px;
      }
      a {
        display: block;
        color: #ffffff;
        background-color: #0099e8;
        margin: 8px 0 0;
        text-decoration: none;
        line-height: 40px;
        border-radius: 4px;
      }
    }
    &__form {
      border-top: 1px solid #eeeeee;
      padding: 24px 64px 32px;
      &__first {
        margin: 0;
        .login-form {
          font-size: 16px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          line-height: 1.5;
          width: 90%;
        }
      }
      &__input {
        margin: 24px 0 0;
        .login-form {
          font-size: 16px;
          padding: 10px 16px 8px;
          border-radius: 4px;
          border: 1px solid #cccccc;
          line-height: 1.5;
          width: 90%;
        }
      }
      &__sub {
        margin: 24px 0 0;
      }
    }
  }
}


.furima-footer {
  display: block;
  width: 456px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  img {
    width: 185px;
    height: 49px;
    margin-top: 40px;
  }
  nav {
    ul {
      display: flex;
      li {
        font-size: 12px;
        margin: 0 0 0 16px;
        a {
          color: #333333;
          text-decoration: none;
        }
      }
    }
  }
}

